/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-container {
  display: flex;
  align-items: flex-start;
}

.story-header {
  display: flex;
  align-items: center;
}

.story-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the author and username with the title */
}

.story-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.favorite-check {
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.story-hostname {
  margin-left: 10px;
}

.story-user {
  margin-left: 0; /* Align with the title */
  color: orange;
}

